version: '3.5'
services:
  http-api:
    build:
      context: .
      dockerfile: Dockerfile
    environment: 
      - CLOUDAMQP_URL=amqp://guest:guest@rabbitmq:5672/rabbitmq_vhost
      - BACKEND_URL=http://localhost:5000
    command: python -u app/api.py
    ports:
      - "5001:5001"
    networks:
      - hackernews_ops
    volumes:
      - .:/app

networks:
  hackernews_ops:
    external: true
